<footer>
    <br><br><br><br>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <p class="text-muted text-center">Join us on IRC at
            <a target="_blank"
               href="http://webchat.freenode.net/?channels=hackerrank">#yasha</a> on freenode
            or report bugs <a href="http://github.com/radbrawler/projectyasha">here</a>
        </p>
        <p class="text-muted text-center">
            <a href="http://bitbucket.org/radbrawler">Contributors</a> |
            <a href="http://bitbucket.org/radbrawler/projectyasha">Source Code</a> | Help
        </p>
    </div>
</footer>