<!DOCTYPE html>
<head>
    <title>ProjectYasha | Inspired by DOTA2</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <h2>projectYasha</h2>
    <h5>Inspired by DOTA2</h5>
    <p>this is home page. Contributors need to work on it asap.</p>
    <a href="https://bitbucket.org/radbrawler/projectyasha/">Source Code</a>
    <div>
        <p><a href="/login/login">Login Page</a></p>
    </div>
</body>