<!DOCTYPE html>
<head>
    <title>ProjectYasha | Inspired by DOTA2</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">projectYasha</a>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <div class="container-fluid">
        <div class="row-fluid">
    </div>
        <br><br><br>
        <div align="center">
            <a href="https://bitbucket.org/radbrawler/projectyasha/">Source Code</a>

            <p><a href="/login/login">Login Page</a></p>
        </div>
        <br><br><br>
        <div class="container-fluid">
            <div class="row-fluid">

                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h2>Contributors</h2>
                    <ul>
                        <li><a href="http://www.bitbucket.com/radbrawler">Anmol</a></li>
                        <li><a href="http://www.bitbucket.com/hectrix08">Parag</a></li>
                        <li><a href="http://www.bitbucket.com/narender_khola">Naren</a></li>
                        <li><a href="http://www.timepass.com">Neel</a></li>
                    </ul>
                    <h4>About Project</h4>
                    <p> This project is based on <a href="https://www.djangoproject.com/">python-django</a> framework.</p>
                    <p>We've used <a href="http://www.getbootstrap.com/">bootstrap</a>  to keep UI minimalistic.</p>
                    <p><a href="https://bitbucket.org/radbrawler/projectyasha/src/435a2439b4ccecd9e11f825063bd0837febdaf35/README.md?at=master&fileviewer=file-view-default">README</a>.md</p>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    {% include 'users/footer.html' %}
</body>