{% include "users/base.html" %}

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/home" class="navbar-brand"><b>projectYasha</b></a>
            <img class="navbar-brand" src="/static/images/logo1.gif">
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span>
                    <strong>{{user.name}}</strong>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="navbar-login">
                            <div class="row">
                                <div class="col-lg-4">
                                    <p class="text-center">
                                        <span class="glyphicon glyphicon-user icon-size"></span>
                                    </p>
                                </div>
                                <div class="col-lg-8">
                                    <p class="text-left">Signed in as <strong>{{user.username}}</strong></p>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <p class="text-left">{{ user.email }}</p>
                                <p class="text-right">
                                    <a href="/login/logout" class="btn btn-primary btn-block btn-sm">Logout</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                </ul>
            </li>
        </ul>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                        Notification
                        <span class="badge"> {{ nn }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for notif in notifs %}
                        <li><a href="#" id="{{ notif.id }} ">{{ notif.title }}  </a></li>
                        <div align="center">
                            <button class="btn btn-primary" type="button"
                                   id="app{{ notif.id }}" onclick="app{{ notif.id }}()">Approve</button>
                                <button class="btn btn-default" type="button"
                                   id="rej{{ notif.id }}" onclick="rej{{ notif.id }}()">Reject</button>
                        </div>
                        {% endfor %}

                    </ul>
                 </li>
            </ul>
        </div>
    </div>
    </nav>

    <br><br><br><br>
    {% if msg %}
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Success!</strong> {{ msg }}
    </div>
    {% endif %}


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-2">
                <div class="panel panel-primary">
                    <div class="panel-heading"> Dashboard </div>
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href=#>Object Details</a></li>
                            <li><a href="/login/req">Request Object</a></li>
                            <li><a href="/login/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
			</div>
			<div class="col-md-10">
                <div class="panel panel-success">
                    <div class="panel-heading">Object Details</div>
                    <div class="panel-body"><p>Institute resources currently issued to others</p></div>
                    <!--- Table --->
                    <table class="table table-striped table-hover ">
                        <thead>
                              <tr>
                                  <th>Asset Id</th>
                                  <th>Cost</th>
                                  <th>Quantity</th>
                                  <th>Due Date</th>
                              </tr>
                        </thead>
                        <tbody>
                            {% for object in obj %}
                            <tr>
                                <td>{{object.type}}</a></td>
                                <td>{{object.cost}}</td>
                                <td>{{object.quantity}}</td>
                                <td>{{object.dueDate}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

    		</div>

        </div>
    </div>
    {% include "users/footer.html" %}
</body>

<script>
{% for message in msg %}
$(document).ready(function() {
    $.pnotify({
        title: '{{ message.tags|upper }}',
        text: '{{ message }}.',
        type: '{{ message.tags }}',
        hide: false,
        styling: 'bootstrap',
        closer_hover: false,
        sticker_hover: false
    });
});
{% endfor %}

function sleep(miliseconds) {
   var currentTime = new Date().getTime();

   while (currentTime + miliseconds >= new Date().getTime()) {
   }
}

function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

{% for notif in notifs %}
function app{{notif.id}}() {
    var csrftoken = getCookie("csrftoken");
    $.ajax({
        type:"POST",
        url:"/login/approve",
        dataType:"json",
        data: {
            csrfmiddlewaretoken: csrftoken,
            req: "app",
            id: "{{notif.id}}"
            },
        success: function(data) {
            if(data.errors)
            {   alert(data.errors);
                console.log("Error in generating objects");
                console.log(data.errors);
            }
            if(data.msg)
            {   alert(data.msg);
                console.log("Objects generated");
                window.location.href = "/login/index";
            }
        }
    });
}

function rej{{notif.id}}() {
    var csrftoken = getCookie("csrftoken");
    $.post("/login/approve",
        {
            csrfmiddlewaretoken: csrftoken,
            req: "rej",
            id: "{{notif.id}}"
        });
        sleep(2);
    window.location.href = '/login/index';
}
{% endfor %}
</script>