{% include "users/base.html" %}

<body>
    <div style="z-index: -1">
    <a href="https://github.com/radbrawler">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="/static/images/fork.png"
                                          alt="Fork me on GitHub" data-canonical-src="/static/images/fork.png"></a>
    </div>

    <div class="navbar navbar-default navbar-fixed-top" style="z-index: -3">
        <div class="container">
            <div class="navbar-header">
            <a href="/home" class="navbar-brand"><b>projectYasha</b></a>
            <img class="navbar-brand" src="/static/images/logo1.gif">
        </div>
        </div>
    </div>
    <br><br><br><br>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h3 class="text-center">Login</h3>
                <p class="text-center"> Stores and Purchase Department </p>
                <hr>
                <span id="errors" style="background-color:#a00;"></span>
                <br><br>
                <form role="form" id="loginForm" action="javascript:login()">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="inputUsername">Username</label>
                        <input required type="text" class="form-control" id="username"
                               placeholder="Enter Username" name="username" >
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input required type="password" class="form-control" id="password"
                               placeholder="Enter Password" name="password">
                    </div>
                        <input type="submit" class="btn btn-primary" value="login">
                </form>
                <hr>
            </div>
            <style type="text/css">
                #your-color{border-left: 1px solid black;}
            </style>
            <!--<div class="col-md-4">-->
                <!--<h4>Noobs Register here</h4>-->
                <!--Register to embark on new journey-->
                <!--<hr>-->
                <!--<span id="newUserErrors" style="background-color:#a00;"></span>-->
                <!--<br><br>-->
                <!--<form role="form" id="addUserForm" action = "javascript:addUser()">-->
                    <!--{% csrf_token %}-->
                    <!--<div class="form-group">-->
                        <!--<label for="inputUsername">Username</label>-->
                        <!--<input required type="text" class="form-control" id="newUser" placeholder="Noobs Please register here" name="user_name">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="inputEmail">Email address</label>-->
                        <!--<input required type="email" class="form-control" id="newUserEmail" placeholder="Enter email id" name="email">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="inputPassword">Password</label>-->
                        <!--<input required type="password" class="form-control" id="newUserPassword" placeholder="Password" name="pass_word">-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-primary">Register</button>-->
                <!--</form>-->
                <!--<hr></hr>-->
            <!--</div>-->
        </div>
    </div>
    {% include "users/footer.html" %}
</body>


<script type="text/javascript">
    function login(){
      var username = document.getElementById("username").value;
      var password = document.getElementById("password").value;
      var done = false;
      var error;
      if(!username && !password){
        error = "Oh you must be having a name!"
        $("#errors").html(error).addClass("badge");
      }else if(!username){
        error = "Oh you must be having a name!"
        $("#errors").html(error).addClass("badge");
      }else if(!password){
        error = "Oh you must be having a passkey!"
        $("#errors").html(error).addClass("badge");
      }else{
        done = true;
      }
      if(done){
        var loginForm = $("#loginForm").serialize();
        console.log(loginForm);
        $.ajax({
          type:"POST",
          url:"/login/login",
          dataType:"json",
          data: loginForm,
          success:function(data){
            if(data.errors){
                console.log(" here in if");
              error = "This username and password is not registered?";
              $("#errors").html(error).addClass("badge");
              done=false;
            }else{
                console.log("here in else");
                window.location.href = "/login/login"
            }
          }
        });
      }
    }

    function addUser(){
      var user = document.getElementById("newUser").value;
      var password = document.getElementById("newUserPassword").value;
      var email = document.getElementById("newUserEmail").value;
      var done = false;
      var error;
      if(!user && !password && !email){
        error = "Oh you must be having a name!";
        $("#newUserErrors").html(error).addClass("badge");
      }else if(!user && !password){
        error = "Oh you must be having a name!";
        $("#newUserErrors").html(error).addClass("badge");
      }else if(!user && !email){
        error = "Oh you must be having a name!";
        $("#newUserErrors").html(error).addClass("badge");
      }else if(!email && !password){
        error = "You surely need a password friend!";
        $("#newUserErrors").html(error).addClass("badge");
      }else if(!user){
        error = "Oh you must be having a name!";
        $("#newUserErrors").html(error).addClass("badge");
      }else if(!password){
        error = "You surely need a password friend!";
        $("#newUserErrors").html(error).addClass("badge");
      }else if(!email){
        error = "Haven't you got an email?";
        $("#newUserErrors").html(error).addClass("badge");
      }else if(user.toLowerCase()=="admin"){
        error = "Admin is actually your daddy!";
        $("#newUserErrors").html(error).addClass("badge");
      }else{
        done = true;
      }
      if(done){
        var addUserForm = $("#addUserForm").serialize();
        $.ajax({
          type:"POST",
          url:"/judge/register/",
          dataType:"json",
          data: addUserForm,
          success:function(data){
            if(data.errors){
              error = "That fellow already exists!";
              $("#newUserErrors").html(error).addClass("badge");
              done=false;
            }else{
                window.location.href = "/judge"
            }
          }
        });
      }
    }
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
