{% include "users/base.html" %}

<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="/home" class="navbar-brand">projectYasha</a>
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--<li><a href="#">Inicio</a></li>-->
                <!--<li class="active"><a href="http://bootsnipp.com/snippets/featured/nav-account-manager" target="_blank">Inspirado en este ejemplo</a></li>-->
                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notification
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Link 2</a></li>
                    </ul>
                 </li>
             </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong>{{user.name}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{user.name}}</strong></p>
                                        <p class="text-left small">{{user.email }}</p>
                                        <p class="text-left">
                                            <a href="#" class="btn btn-primary btn-block btn-sm">Actualizar Datos</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <br><br><br><br>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-4"></div>
            <div class="col-md-4">

                <form role="form" id="req_form" action="javascript:request()">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="object">Object</label>
                        <select class="form-control" id="object" name="object">
                            {% for i in obj%}
                            <option>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="qty">Quantity</label>
                        <input class="form-control" id="qty" name="qty">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-4">
        </div>
    </div>
</div>

</body>

<script type="text/javascript">
    function sleep(miliseconds) {
        var currentTime = new Date().getTime();
        while (currentTime + miliseconds >= new Date().getTime()) {
        }
    }

    function request(){
        var object =  document.getElementById("object").value;
        console.log(object);
        var quantity = document.getElementById("qty").value;
        console.log(quantity);
        var done = true;

        if (done){
            var req_form = $("#req_form").serialize();
            console.log("here are we");
            console.log(req_form);
            $.ajax({
                type:"POST",
                url:"/login/val_req",
                dataType:"json",
                data: req_form,
                success:function(data){
                    if(data.errors){
                        <!--error = "Unknown Error Occurred";-->
                        alert(data.errors);
                        <!--$("#errors").html(error).addClass("badge");-->
                        done=false;
                        window.location.href = "/login/index";
                    }else{
                        alert("in else");
                        console.log("here");
                        window.location.href = "/login/index";
                    }
                }
            });
        }
    }
</script>